.taskcard-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.taskcard-details {
    margin-left: 15px;
    flex: 2;
}

.taskcard-details-title {
    font-weight: 800;
    font-size: 14px;
    color: rgb(37, 36, 47);
}

.taskcard-details-due {
    font-size: 12px;
}

.taskcard-controls {
    display: flex;
    gap: 4px
}

.taskcard-checkbox {
    width: 18px;
    height: 18px;
}

.taskcard-control-btn {
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.taskcard-control-btn:hover {
    background: lightgray
}

.delete:hover {
    background: rgb(255, 117, 117);
}

.taskcard-completed {
    text-decoration: line-through;
}