.overlay {
    position: absolute;
    background-color: rgba(143, 143, 143, 0.645);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: not-allowed;
} 

.App {
    background-color: rgb(222, 218, 255);
    min-height: 100vh;
}