.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 1px solid lightgray;
    width: 400px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    z-index: 100;
}

.model-header {
    width: 100%;
    background-color: rgb(37, 36, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.model-heading {
    color: white;
    font-size: 15px;
}

.model-close {
    color: white;
    cursor: pointer;
}

.model-content {
    padding: 20px;
}

.model-title {
    font-size: 12px;
}

.model-row {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.model-input {
    padding: 8px;
    border: 1px solid lightgray;
    width: 100%;
}

.model-input:focus {
    outline: none;
}

.modal-addBtn {
    background-color: rgb(37, 36, 47);
    height: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-addBtn:hover {
    background-color: rgb(45, 44, 60);
}

