.task-container {
    margin-top: 20px;
    padding: 20px 350px;
    position: relative;
}

.task-addBtn {
    color: white;
    background-color: rgb(37, 36, 47);
    border: 1px solid rgb(37, 36, 47);
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

.task-addBtn:hover {
    background-color: rgb(37, 37, 37);
}

.task-wrapper {
    margin-top: 30px;
}

